/* You can add global styles to this file, and also import other style files */
body {
    font: tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
}

.ml30 {
    margin-left: 30px;
}

.fs12 {
    font-size: 12px;
}

.w10 {
    width: 10px;
    height: 1px;
    display: inline-block;
}

.mb15 {
    margin-bottom: 15px;
}

.cp {
    cursor: pointer;
}