<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jstu.tea.dao.TeacherDao" >
    <resultMap id="teacherMap" type="com.jstu.tea.model.Teacher">
        <id column="teacher_id" property="teacherId" jdbcType="VARCHAR"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="sax" property="sax" jdbcType="CHAR"></result>
        <result column="comments" property="comments" jdbcType="VARCHAR"></result>
    </resultMap>

    <insert id="addTeacher" parameterType="com.jstu.tea.model.Teacher">
        INSERT INTO `teacher` VALUES (#{teacherId}, #{name}, #{sax}, #{comments})
    </insert>

    <select id="findTeacher" parameterType="String" resultMap="teacherMap">
        SELECT * FROM  `teacher` WHERE `teacher_id` = #{teacherId}
    </select>

    <select id="getAllTeacher" resultMap="teacherMap">
        SELECT * FROM  `teacher`
    </select>

</mapper>